.text-center {
  text-align: center;
}

.title {
  margin-top: 2rem;
}

.alert {
  color: #dc3545;
}

.column-remove {
  padding: 0;
}

.column-remove button {
  padding: 1rem;
  line-height: 1rem;
  margin: 0;
}

.days {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.days li,
.days li button {
  margin: 0;
}

.days li button {
  border-radius: 0;
  text-transform: none;
  width: 100%;
}

.days li button:hover {
  background-color: #cff0fa;
}

.days li button.active {
  background-color: #33c3f0;
}

.clickable {
  cursor: pointer;
  pointer-events: all;
  user-select: none;
}

th span {
  color: lightgrey;
}

th span.active {
  color: #33c3f0;
}
